@{
    Layout = "_Layout";
}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-margherita.png" class="card-img" alt="Immagine di una pizza margherita">
        <div class="card-body">
          <h5 class="card-title">Pizza margherita</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">5 €</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-ai-funghi.png" class="card-img" alt="Immagine di una pizza ai funghi">
        <div class="card-body">
          <h5 class="card-title">Pizza ai funghi</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">8 €</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-diavola.png" class="card-img" alt="Immagine di una pizza alla diavola">
        <div class="card-body">
          <h5 class="card-title">Pizza alla diavola</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">6 €</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-funghi-e-cipolla.png" class="card-img" alt="Immagine di una pizza con funghi e cipolla">
        <div class="card-body">
          <h5 class="card-title">Pizza con funghi e cipolla</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">9 €</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-margherita-extra-cheese.png" class="card-img" alt="Immagine di una pizza con extra formmaggio">
        <div class="card-body">
          <h5 class="card-title">Pizza margherita extra cheese</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">5.50 €</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-salamino-salsiccia-salame-cotto.png" class="card-img" alt="Immagine di una pizza con salamino,salsiccia e salame cotto">
        <div class="card-body">
          <h5 class="card-title">Pizza alamino salsiccia salame cotto</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">8 €</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-margherita.png" class="card-img" alt="Immagine di una pizza margherita al kamut">
        <div class="card-body">
          <h5 class="card-title">Pizza margherita con pasta al kamut</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">7 €</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-margherita.png" class="card-img" alt="Immagine di una pizza margherita senza lattosio">
        <div class="card-body">
          <h5 class="card-title">Pizza margherita senza lattosio</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">6 €</p>
        </div>
      </div>
    </div>
  </div>
</div>